Repository gardener/gardener-extension-registry-cache, pull requests merged in 2024-05, with the labels that each got.

#186 Limit upstream-host label value to 43 chars
  pkg/component/registrycaches/export_test.go
  pkg/component/registrycaches/registry_caches.go
  pkg/component/registrycaches/registry_caches_test.go
Labels: cla: yes, area/quality, size/M, lgtm, approved, kind/enhancement

#187 [GEP-19] Switch to the new contract of providing monitoring configuration
  charts/gardener-extension-registry-cache/templates/clusterrole.yaml
  cmd/gardener-extension-registry-cache/app/app.go
  example/controller-registration.yaml
  go.mod
  pkg/component/registrycaches/monitoring.go
  pkg/component/registrycaches/registry_caches.go
  pkg/component/registrycaches/registry_caches_test.go
Labels: cla: yes, lgtm, size/L, approved, area/monitoring, kind/enhancement

#197 Add the kind/enhancement label to the dependabot PRs
  .github/dependabot.yaml
Labels: cla: yes, size/XS, lgtm, approved, kind/enhancement

#196 Rework image pull check in E2E tests
  test/common/common.go
  test/e2e/cache/create_enable_add_remove_disable_delete.go
  test/e2e/cache/create_enabled_delete_shoot_system_components.go
  test/e2e/cache/create_enabled_force_delete.go
  test/e2e/cache/create_enabled_hibernate_reconcile_delete.go
  test/testmachinery/shoot/enable_disable_test.go
  test/testmachinery/shoot/enable_hibernate_reconcile_wakeup_disable_test.go
Labels: cla: yes, lgtm, size/L, approved, kind/test, area/testing, area/ipcei, ipcei/registry-cache-extension
